#divAdd { 
    
}

#divLista {

}

.tarefa {
    margin-left: 20% ;   
}

.descTarefa {
    display: inline;
}

.prioridade-alta{
    color: red;
    font-size: large;
}

.prioridade-normal{
    color: yellow;
    font-size: large;
}

.prioridade-baixa{
    color: green;
    font-size: large;
}
